html

  head
    title Example
    link(href='/build/home.build.css', type="text/css", rel="stylesheet")

  body
    include ../../node_modules/@jramcast/my-component/templates/view.pug
    script(src='/build/commons.js')
    script(src='/build/home.build.js')
